<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>v-for</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../vue.js"></script>
</head>
<body>
    <div id="box">
        <ol>
            <li v-for="(todo, index) in todos" :key="index">
                {{ todo.text }}, {{index}}
            </li>
        </ol>
        <ul>
            <!-- 也可用于遍历整数 ，从1开始 -->
            <li v-for="n in 10">
                {{ n }}
            </li>
        </ul>
        <ul>
            <!-- 遍历对象属性,包含索引(从0开始)和key -->
            <!-- 也可(value, key) in object -->
            <li v-for="(value, key, index) in object">
                {{ index }}. {{ key }} : {{ value }}
            </li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: "#box",
            data: {
                todos: [
                    { text: '学习 JavaScript' },
                    { text: '学习 Vue' },
                    { text: '整个牛项目' }
                ],
                object: {
                    name: '菜鸟教程',
                    url: 'http://www.runoob.com',
                    slogan: '学的不仅是技术，更是梦想！'
                }
            }
        });
    </script>
</body>
</html>